/**
 * Colors used across the website
 * ------------------------------
 * [1]
 * First give them a name using appropriate tool :
 * http://www.color-blindness.com/color-name-hue/
 * If two colors get the same name, use the built-in Sass functions :
 * darken($color-name, xx%)
 * lighten($color-name, xx%)
 *
 * [2]
 * Then, assign colors to their exact role, to allow easy updates
 */


/* ====== [1] NAMES ====== */
$black-pearl: #171e27;
$white: #ffffff;
$midnight-express: #202a37;
$medium-slate-blue: #7f86f5;
$caribbean-green: #01cea2;
$cornflower-blue: #3eb1f3;


/* ====== [2] ASSIGNMENTS ====== */

/* --- global --- */
$background-main: $black-pearl;
$background-darker: darken($black-pearl, 17%);
$background-darkest: darken($black-pearl, 34%);
$text-light: $white;
$text-dark: $midnight-express;

/* --- theme related --- */
$enterprise-main: $medium-slate-blue;
$runtime-main: $cornflower-blue;
$monitoring-main: $caribbean-green;